<p>ID: {{user.email}}</p>
<p>Name: {{user.fname}}</p>
<p>IG_ID: {{user.ig_id}}</p>

<p>Connect Your Instagram <a href="/connect/instagram" class="btn btn-success">Link</a></p>

<a href="/c3visualization">view C3 visualization</a>
<br/>
<a href="/visualization">view D3 visualization</a>
<br>
<a href="/logout" class="btn btn-danger">Logout</a>
