<div class="jumbotron">
	<p>ID: {{user.email}}</p>
	<p>Name: {{user.fname}}</p>
	<p>IG_ID: {{user.ig_id}}</p>
	<p>FB_ID: {{user.fb_id}}</p>	
</div>

<p>Connect Your Instagram <a href="/connect/instagram" class="btn btn-success">Link</a></p>
<p>Connect Your Facebook <a href="/connect/facebook" class="btn btn-success">Link</a></p>
<br>

<h3>C3 and D3 visualization for Instagram, Linked Instagram required</h3>
<a href="/c3visualization">view C3 visualization</a>
<br>
<a href="/visualization">view D3 visualization</a>
<br>
<br>
<h3>D3 visualization for Facebook, Linked Facebook required</h3>
<a href="/d3visualization2">view D3 visualization (our implementation) </a>
<br>
<a href="/logout" class="btn btn-danger">Logout</a>
