<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>

<div id="content">
	<a href="/account" class="btn btn-primary">Go Back to Home Page</a>
	<h1 style="text-align:center;"> Liked Pages Info </h1>
	<h4 style="text-align:center;">This is a bubble chart containing the last 40 pages you have liked on facebook. Each bubble contains the name of the page you have liked and the total number of users that have liked that page in general. You may also click on the bubble in the center to view a little more information about it in the form of an alert box.</h4>
	<div class="bubbleChart"></div>
</div>
<script src="js/d3visualization2.js"></script>