<h1> Media Count of Your Instagram Followers </h1>

<div style="text-align: center;">
	<label><input type="checkbox"> Sort by Photo Count</label>
</div>

<!--<div style="text-align: center;">

	<input id="default" type="radio" name="sort" value="default" checked> Default 
	<br>
	<input id="descending" type="radio" name="sort" value="descending"> Descending Photo Count 
	<br>
	<input id="ascending" type="radio" name="sort" value="ascending"> Ascending Photo Count
	<br>
	<input id="alphabetical" type="radio" name="sort" value="alphabetical"> Alphabetical by Username
</div>-->
<script src="js/visualization.js"></script>
